<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>Sk8rings</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css" />
</head>
<body class="contact-background">
<div class="container">
    <div class="row full-height">
        <div class="col-md-12 text-center">
    <h1 class="thank-box">Thanks for messiging us!</h1>
    <a href="/indexeng"> <h3 class="thank-you-box"> Back to main page </h3> </a>
        </div>
    </div>
</div>
    <script src="/js/jquery.min.js "></script>
    <script src="/js/bootstrap.min.js "></script>
    <script src="scripts/main.js "></script>
</body>
</html>