<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="David Milosavljević, sodakolor@gmail.com">
    <title>Metalostrugar - Gornji Milanovac,Srbija </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Najsavremenija mašinska radionica 'MIM', učiniće da vaše ideje postanu realnost. Gornji Milanovac, Prvomajska 18, Telefon: +381:60/358-10-24">
    <meta name="keywords" content="flekso, stampa, flekso stampa, izrada, verkova, izrada verkova, izrada celicnih konstrukcija, bravarske usluge, konstrukcija, strugarske usluge, glodacke usluge, masine za uzduzno secenje, masine za stampu, masine za kasiranje, remont, reparacija, popravka, nivelacija, centriranje, nivelisanje">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css" />
</head>

<body class="animate-in">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div id="navbar" class="row">
                <div class="col-sm-2 text-center">
                    <a href="#welcome-page"> <img class="logo-navbar" id="logo-navbar" src="images/logo-navbar.png" alt="flekso stampa"></a>
                </div>
                <div class="col-sm-7 text-right">
                    <ul class="list-inline navbar navbar-items">
                        <li>
                            <a href="#about">O NAMA</a>
                        </li>
                        <li>
                            <a href="#service">USLUGE</a>
                        </li>
                        <li>
                            <a href="#gallery">GALERIJA</a>
                        </li>
                        <li>
                            <a href="#location">LOKACIJA</a>
                        </li>
                        <li>
                            <a href="#contact">KONTAKT</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2 text-center">
                    <p id="phone-number">
                        +38160/358-10-24
                    </p>
                </div>
                <div class="col-sm-1 text-left eng-srb link">
                    <img src="images/srb.png" alt="srb">
                    <a id="klikni" href="indexeng" action="indexeng"> <img src="images/eng.png" alt="izrada verkova"> </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div id="welcome-page" class="row">
            <div class="col-sm-12">
                <img id="logo-header" src="images/logo-header.png" alt="izrada celicnih konstrukcija">
            </div>
            <div id="welcome-text" class="col-sm-12 text-center">
                <h3 id="welcome-text-1"> DOBRODOŠLI </h3>
                <h1 id="welcome-text-2"> Mašinska radionica MIM </h1>
            </div>
            <div class="col-sm-12 text-right">
                <img id="shadow-image" src="images/welcome-page-shadow-image.png" alt="bravarske usluge">
            </div>
        </div>
        <div id="about" class="row">
            <div class="col-sm-12">
                <h3 id="about-text-1"> Par reči o nama </h3>
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5 text-right">
                <h3 id="about-text-2"> Radionica je počela sa radom 1996. godine, a zvanično je otvorena i registrovana 2011 godine u Gornjem Milanovcu.
                    Začetnik firme je Vlade Marković. Dugogodišnji stručnjak u oblasti grafičke industrije, štampe, kaširanja
                    i sečenja.
                </h3>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 text-right">
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5 text-left">
                <h3 id="about-text-3"> Uz to radionica nudi usluge, strugarskih, glodačkih poslova, nivelisanje mašina za štampu, kao i izradu čeličnih
                    konstrukcija, remont i servisiranje štamparskih masina.
                </h3>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 text-center col-md-offset-3 col-sm-offset-3">
                <h3 id="about-text-4"> Sarađujemo sa kompanijama na domaćem i stranom tržistu. Australija je trenutno jedna od destinacija izvoza
                    naših domaće proizvedenih poluproizvoda, hladnjaka za rashlađivanje električnih komponenti kod visokonaponskih
                    dalekovoda.
                </h3>
            </div>
        </div>
        <div id="down-arrow" class="row down-arrow">
            <div class="col-sm-12 text-center">
                <a href="#next-page"> <img id="arrow-down1" src="images/arrow-down1.png" alt="strugarske usluge"></a>
            </div>
            <div class="col-sm-12 text-center">
                <a href="#next-page"><img class="bounce" id="arrow-down2" src="images/arrow-down2.png"> </a>
            </div>
        </div>
        <div id="next-page" class="row">
            <div class="col-sm-12 text-center">
                <h3 id="map-text">Mapa značajno urađenih poslova</h3>
            </div>
        </div>
        <div class="row world">
            <div class="col-sm-3 col-lg-3 text-center">
                <img id="world-map2" src="images/world-map2.png" alt="nivelisanje">
            </div>
            <div class="col-sm-9 col-lg-9 text-left world-map-class">
                <img id="world-map1" src="images/world-map.png" alt="world-map">
            </div>

        </div>
        <div id="down-arrow" class="row down-arrow">
            <div class="col-sm-12 text-center">
                <a href="#service"><img id="arrow-down1" src="images/arrow-down1.png"> </a>
            </div>
            <div class="col-sm-12 text-center">
                <a href="#service"> <img class="bounce" id="arrow-down2" src="images/arrow-down2.png"> </a>
            </div>
        </div>
        <div id="service" class="row">
            <div class="col-sm-12 text-center">
                <h2 class="service-text-1"> Remont i servisiranja mašina za flekso štampu </h2>
            </div>
            <div class="col-sm-6 text-center">
                <h2 class="service-text-2"> Montaža i demontaža nove i polovne opreme </h2>
            </div>
            <div class="col-sm-6 text-center">
                <h2 class="service-text-2"> Hidraulika i pneumatika </h2>
            </div>
            <div class="col-sm-4 text-right">
                <h2 class="service-text-3"> Remont i servis mašina </h2>
            </div>
            <div class="col-sm-4 text-center">
                <img id="service-gear" src="images/services-gear.png">
            </div>
            <div class="col-sm-4 text-left">
                <h2 class="service-text-3"> Projektovanje </h2>
            </div>
            <div class="col-sm-6 text-center">
                <h2 class="service-text-4"> Izrada novih mašina za štampu </h2>
            </div>
            <div class="col-sm-6 text-center">
                <h2 class="service-text-4"> Usluge strugarske i glodacke obrade </h2>
            </div>
            <div class="col-sm-12 text-center">
                <h2 class="service-text-5"> Izrada čelicnih konstrukcija </h2>
            </div>
        </div>
        <div id="down-arrow" class="row down-arrow">
            <div class="col-sm-12 text-center">
                <a href="#gallery"> <img id="arrow-down1" src="images/arrow-down1.png"> </a>
            </div>
            <div class="col-sm-12 text-center">
                <a href="#gallery"> <img class="bounce" id="arrow-down2" src="images/arrow-down2.png" alt="glodacke usluge"></a>
            </div>
        </div>
        <div id="gallery" class="row">
            <div class="col-md-3 col-sm-3">
            </div>
            <div id="gallery-box" class="col-md-9 col-sm-9 ">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="5" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="6" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="7" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="8" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="9" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="10" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="11" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="12" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="13" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="14" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="15" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="16" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="17" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="18" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="19" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="20" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="21" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="22" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="23" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="24" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="25" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="26" class=""></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel1.png')"
                            class=" item active">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel2.png')"
                            class="item">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel3.png')"
                            class="item">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel4.png')"
                            class="item">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel5.png')"
                            class="item">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel6.png')"
                            class="item">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel7.png')"
                            class="item">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel8.png')"
                            class="item">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel9.png')"
                            class="item">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel10.png')"
                            class="item">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel11.png')"
                            class="item">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel12.png')"
                            class="item">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel13.png')"
                            class="item">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel14.png')"
                            class="item">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel15.png')"
                            class="item">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel16.png')"
                            class="item">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel17.png')"
                            class="item">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel18.png')"
                            class="item">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel19.png')"
                            class="item">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel20.png')"
                            class="item">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel21.png')"
                            class="item">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel22.png')"
                            class="item">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel23.png')"
                            class="item">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel24.png')"
                            class="item">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel25.png')"
                            class="item">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel26.png')"
                            class="item">

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div style="height: 550px;background-position:center;background-repeat:no-repeat; background-size: cover; background-image:url('../images/carousel27.png')"
                            class="item">

                            <div class="carousel-caption">
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div id="down-arrow" class="row down-arrow">
            <div class="col-sm-12 text-center">
                <a href="#locations"> <img id="arrow-down1" src="images/arrow-down1.png" alt="masine za uzduzno secenje"></a>
            </div>
            <div class="col-sm-12 text-center">
                <a href="#locations"> <img class="bounce" id="arrow-down2" src="images/arrow-down2.png" alt="centriranje"></a>
            </div>
        </div>
        <div id="locations" class="row">
            <div id="map" class="col-md-9 col-sm-9">
            </div>
        </div>
        <div id="down-arrow" class="row down-arrow">
            <div class="col-sm-12 text-center">
                <a href="#contact"> <img id="arrow-down1" src="images/arrow-down1.png" alt="nivelacija"></a>
            </div>
            <div class="col-sm-12 text-center">
                <a href="#contact"> <img class="bounce" id="arrow-down2" src="images/arrow-down2.png" alt=" masine za kasiranje"></a>
            </div>
        </div>
        <div id="contact" class="row">
            <div class="contact-form text-right col-sm-12 col-md-4 col-md-offset-1">
                <form action="/contact" method="POST" name="contactForm">
                    <div class="text-left form-group">
                        <label for="name">Ime</label>
                        <input type="text" name="name" class="form-control" id="name" required>
                    </div>
                    <div class="text-left form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" id="email" required>
                    </div>
                    <div class="text-left form-group">
                        <label for="text">Poruka</label>
                        <textarea name="text" class="form-control" rows="10" id="text" required></textarea>
                    </div>
                    <button type="submit" id="button" class="btn">Pošalji!</button>
                </form>
            </div>
            <div class="footer-text col-md-4 col-sm-12 col-md-offset-1 text-center">
                <img id="logo-footer" src="images/logo-header.png" alt="masine za stampu">
                <h2 class="footer-text"> Prvomajska 18 </h2>
                <h2 class="footer-text"> 32300 Gornji Milanovac, Srbija </h2>
                <h2 class="footer-text"> +38160/358-10-24 </h2>
                <h2 class="footer-text"> +38164/441-75-75</h2>
                <h2 class="footer-text"> +38166/602-19-93 </h2>
                <h2 class="footer-text"> +38132/714-328</h2>
            </div>
        </div>
    </div>

    <script src="/js/jquery.min.js "></script>
    <script src="/js/bootstrap.min.js "></script>
    <script src="scripts/main.js "></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCc9Eq2y9mdshCVin__2xKkKcYfj7xp_Fc&callback=initMap" async
        defer></script>
</body>

</html>